body{
    @include bold;
}

.button-o{
    border: 2px solid #507fe1;
    text-transform: uppercase;
    padding: 17px 22px;
    font-size: 12px;
    font-weight: bold;
    color: #507fe1;
    background: transparent;
}

.button{
    padding: 25px 45px;
    text-transform: uppercase;
    border: none;
    background-color: #507fe1;
    color: #fff;
    @include bold;

}


@media (max-width: 576px){
    .button-o{
        font-size: 10px;
    }

}