body{
  
}

.section{
    padding: 100px 0;

    &-title{
        font-size: 30px;
        @include bold;
        text-align: center;
        text-transform: uppercase;
    }

    &__title{
        margin-bottom: 100px;
    }
}

.button-o{
    border: 2px solid #507fe1;
    text-transform: uppercase;
    padding: 17px 22px;
    font-size: 12px;
    font-weight: bold;
    color: #507fe1;
    background: transparent;
}

.button{
    padding: 25px 45px;
    text-transform: uppercase;
    border: none;
    background-color: #507fe1;
    color: #fff;
    @include bold;

}

.bg-secondary{
    background: #f1f1f1;
}

.input{
    height: 80px;
    padding-left: 30px;
    border: 1px solid #dddddd;
   
}

.checkbox{
    display: none;
    &:checked + label:before{
            background-color: #507fe1;
    }
    
    &-label{
        display: flex;
        align-items: center;
        margin-right: 40px;
        &::before{
            content: '';
            width: 30px;
            height: 30px;
            border: 1px solid #dddddd;
            margin-right: 20px;
        }
    }
   
}


@media (max-width: 576px){
    .button-o{
        font-size: 10px;
    }

    .section{
        padding: 60px 0;
        &-title{
            font-size: 24px;
        }
    }

}